[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
better-exceptions = "*"

[packages]
flask = "*"
requests = "*"
python-telegram-bot = "*"
gunicorn = "*"
python-dotenv = "*"
loguru = "*"
flask-script = "*"

[requires]
python_version = "3.7"
